{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweeter</title>
    <link rel="stylesheet" href="{% static 'tweeting/css/style.css' %}">
    <script src="https://kit.fontawesome.com/b461c2f143.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>This is tweeter</h1>
    
        <button onclick="addUrl()" class="addPost">+</button>

    {% for tweet in tweets %}
        <h2>{{tweet.title}}</h2>
        <p>{{tweet.content}}</p>
        <form action="{% url 'delete' tweet.id %}" method="post">
            {% csrf_token %}         
            <button type="submit"><i class="fa-solid fa-trash"></i></button>
    </form>
    <a href="{% url 'update' tweet.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
        <hr>
    {% endfor %}

    <script src="{% static 'tweeting/js/app.js' %}"></script>
</body>
</html>