button {
    height: 10%;
    background-color:lightblue;
    width: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}
button:hover {
    background-color: #089BCC;
}